<div class="rating_stats">
	<div>
		Durchschnittswert:
		<span class="rating_avg">
		<% if !@game.average_rating.present? %>
			unbewertet
		<% else %>
			<%= @game.ratings.average(:value).round(2) %>
		<% end %>
		</span>
		<div class="rating_bar">
			<div class="rating_filled" data-average="<%= @game.ratings.average(:value) %>"></div>
		</div>
		
		<script>
			var average = parseFloat( $(".rating_filled").attr("data-average") );
			var avg_width = (average/5)*200;
			$(".rating_filled").css("width", avg_width);
		</script>
		
	</div>
	
	<div>
		Anzahl Wertungen: 
		<span class="rating_amount"><%= @game.ratings.count %></span>
	</div>
	
	<% if user_signed_in? %>
	<p>
		Ihre Wertung :
		<span class="current_user_rating">
			
			<%= current_user_rating %>

		</span>
	</p>
	<% end %>
</div>

