<div class="rating_stats">
	<div>
		Durchschnittswert:
		<span class="rating_avg">
		<% if !@game.average_rating.present? %>
			unbewertet
		<% else %>
			<%= @game.ratings.average(:value) %>
			
		<% end %>
		</span>
		<div class="rating_bar">
			<div class="rating_filled"></div>
		</div>
	</div>
	
	<div>
		Anzahl Wertungen: 
		<span class="rating_amount"><%= @game.ratings.count %></span>
	</div>
	
	<p>
		Ihre Wertung :
		<span class="current_user_rating">
			<% if user_signed_in? && current_user.ratings.find_by_game_id(params[:id]).present? %>
			
			<%= current_user_rating %>
			<% else %>
			Nix
			<% end %>
		</span>
	</p>
</div>