<h1>Suchergebnisse</h1>


<% if(params[:search]) %>
	<%= render "misc/search_results"%>
<% else %>
	Nothing
<% end %>

<!--%= will_paginate @games %-->

<br />

Gesuchtes Spiel nicht aufgelistet? <br />

<%= link_to 'Tragen Sie einen neuen Titel ein', new_game_path %>
