<% provide(:title, @title) %>


    <h3><%= @title %></h3>
    <% if @games.any? %>
      <ul class="users">
        <%= render @games %>
      </ul>
     
     <!-- will_paginate -->
    
    <% end %>
   

