<footer class="footer">
  <small>
    <a href="http://jayzvgquiz.de/">Videogame Quiz</a>
    by Sir Jay
  </small>
  <nav>
    <ul>

      <li><a href="http://ofdb.de">Movies</a></li>
    </ul>
  </nav>
</footer>