<header class="navbar"> <!-- navbar-fixed-top--->
  <div class="navbar-inner">	  	
        <ul class="nav pull-right">
          <li><%= render 'pages/search_form'%></li>
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "User-Center", users_path %></li>      	
        </ul>     
  </div>
</header>