  Im Besitz von </br>
 <a href="<%= followers_game_path(@user) %>">
    <strong class="own_stats">
       <%= @game.followers.count %> User
    </strong>
    <!--
    <%= pluralize(@game.followers.count, "User") %>
    -->
  </a>
  
