  Im Besitz von </br>
 <a href="<%= followers_game_path(@user) %>">
    <strong class="own_stats">
       <%= pluralize(@game.followers.count, "User", "Usern") %>
    </strong>
    
    
    
  </a>
  
