<% @user ||= current_user %>

<div class="stats">
  <a href="<%= following_user_path(@game) %>">
    <strong>
      <%= @user.followed_games.count %> Spiele im Besitz
    </strong>
    
  </a>
</div>


