// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "variables";
@import "bootstrap";

#content{
  background: $blau;
  min-height: 200px;
}

#sidebar_left{
  background: $gruen;
}

#sidebar_right{
  background: $gruen;
  margin-bottom: 10px;
}

#container{
  background: $bg_container;
  padding: 20px;
}

#header{
  background: $hellblau;
  margin: 10px 0px;
}

#footer{
    background: $hellblau;
    margin: 10px 0px;

}

.new_games{
  border: 1px solid red;
  padding: 5px;
  margin-top: 20px;
  width: 200px;
  color: blue;
  
  :hover{
    cursor: pointer;
    color: red;
  }
}

.button_login{
  color: red;
  
  :hover{
    background: blue;
    cursor: pointer;
  }

}

.login{
  display: none;
  background: #a0a0a0;
  position: fixed;
  left:40%;
  top: 30%;
  
}
