// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "variables";
@import "bootstrap";

#content{
  background: $blau;
}

#sidebar_left{
  background: $gruen;
}

#sidebar_right{
  background: $gruen;
}

#container{
  background: $bg_container;
  padding: 20px;
}

#header{
  background: $hellblau;
  margin: 10px 0px;
}

#footer{
    background: $hellblau;
    margin: 10px 0px;

}
