<% provide(:title, 'Home') %>

<div class="home-container">
	<h1>Willkommen bei GameHawks</h1>
	
	<h2>Hier findest du alle jeden Titel aus 50 Jahre Gaming Kultur</h2>
	

	
  	
  	<%= link_to "Neues Spiel", new_game_path, class: "btn" %>


</div>
