<% provide(:title, @title) %>


    <h3>Spiele im Besitz von <%= @user.name %></h3>
    
    <% if @games.any? %>
      <ul class="users">
        <%= render @games %>
      </ul>
     
     <%= will_paginate @games%>
    
    <% end %>
   

