<% provide(:title, @title) %>

    <h3>Spiel im Besitz von folgenden Usern</h3>
    <% if @users.any? %>
      <ul class="users">
        <%= render @users %>
      </ul>
     
     <!-- will_paginate -->
    
    <% end %>
   
