<div class="input-append">
	<%= form_tag games_path, :method => 'get' do %>
	    <%= text_field_tag :search, params[:search], class: "span3 search_field" %>
	    <%= submit_tag "Search", :title => nil , class: "btn"%>
	<% end %>
</div>