<% provide(:title, "Neues Review") %>

<h1>Reviews#new</h1>

<%= form_for(@review, :url => game_reviews_path) do |f| %>
  <%= render 'misc/error_messages', object: f.object %>
  
  <div class="field review_text_area">
    <%= f.text_area :content, placeholder: "Compose new review..." %>
  </div>
  
  <!--%= hidden_field_tag("game_id", @game.id) %-->

  <%= f.submit "Post", class: "btn btn-large btn-primary" %>
<% end %>