.friendfeed.widget,
div.friendfeed.widget div,
div.friendfeed.widget span,
div.friendfeed.widget img,
div.friendfeed.widget table,
div.friendfeed.widget tr,
div.friendfeed.widget td {
  position: relative;
  background-color: white;
  color: black;
  padding: 0;
  margin: 0;
  border: 0;
  text-align: left;
  line-height: 1.3em;
  width: auto;
  float: none;
}

.friendfeed.widget {
  color: #222222;
  font-family: Arial, sans-serif;
  font-size: 10pt;
  position: relative;
  border: 1px solid #437ec7;
  overflow: hidden;
}

.friendfeed.widget a {
  background: none;
  color: #1030cc;
  font-weight: normal;
  text-decoration: underline;
  margin: 0;
  padding: 0;
}

.friendfeed.widget a:visited {
  color: #1030cc;
}

.friendfeed.widget div {
  margin: 0;
  padding: 0;
  border: 0;
}

.friendfeed.widget img {
  border: 0px;
}

.friendfeed.widget .logo {
  background: url("../images/widget-top-border.png?v=1") 0px 0px repeat-x;
}

.friendfeed.widget .logo img {
  margin-left: 5px;
}

.friendfeed.widget .feed {
  padding-left: 12px;
  padding-right: 12px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.friendfeed.widget .bottom {
  background: #cddff6 url("../images/widget-bottom-bg.png?v=1") repeat-x;
  border-top: 1px solid #437ec7;
  padding: 3px 5px 3px 5px;
}

.friendfeed.widget .bottom a {
  font-weight: bold;
  text-decoration: none;
}

.friendfeed.widget .bottom a:visited {
  color: #1030cc;
}

.friendfeed.widget .clear {
  clear: both;
}

.friendfeed.widget img.icon {
  width: 16px;
  height: 16px;
}

.friendfeed.widget .feed .cluster {
  margin-bottom: 1.75em;
}

.friendfeed.widget .feed .cluster .icon {
  float: left;
}

.friendfeed.widget .feed .cluster .body {
  margin-left: 23px;
}

.friendfeed.widget .feed .entry {
  margin-bottom: 1em;
}

.friendfeed.widget .feed .entry .info,
.friendfeed.widget .feed .entry .likes,
.friendfeed.widget .feed .entry .comment,
.friendfeed.widget .feed .entry .expandcomment {
  margin-bottom: 6pt;
}

.friendfeed.widget .feed .cluster .summary,
.friendfeed.widget .feed .entry .title,
.friendfeed.widget .feed .entry .media {
  margin-bottom: 4pt;
}

.friendfeed.widget .feed .entry .likes,
.friendfeed.widget .feed .entry .expandcomment {
  margin-left: 12px;
  padding-left: 19px;
}

.friendfeed.widget .feed .entry .comment {
  overflow: hidden;
  white-space: nowrap;
}

.friendfeed.widget .feed .entry .comment .content {
  margin-left: 31px;
}

.friendfeed.widget .feed .entry .info .lock {
  width: 8px;
  height: 10px;
  vertical-align: middle;
  padding-right: 4px;
  padding-bottom: 3px;
}

.friendfeed.widget .feed .entry .info a,
.friendfeed.widget .feed .entry .info a:visited,
.friendfeed.widget .feed .entry .likes a,
.friendfeed.widget .feed .entry .likes a:visited,
.friendfeed.widget .feed .entry .comment a,
.friendfeed.widget .feed .entry .comment a:visited,
.friendfeed.widget .feed .entry .expandcomment a,
.friendfeed.widget .feed .entry .expandcomment a:visited {
  color: #7070cc;
}

.friendfeed.widget .feed .entry .expandcomment {
  font-style: italic;
}

.friendfeed.widget .feed .entry .likes {
  background: url("../images/smile.png?v=2") left top no-repeat;
}

.friendfeed.widget .feed .entry .comment .quote {
  margin-left: 12px;
}

.friendfeed.widget .feed .entry .comment .quote {
  background: url("../images/comment-lighter.png?v=2") 0px 2px no-repeat;
}

.friendfeed.widget .feed .entry .comment.friend .quote {
  background-image: url("../images/comment-friend.png?v=2");
}

.friendfeed.widget .feed .entry .comment .author {
  margin-top: 2px;
}

.friendfeed.widget .feed .entry .media td {
  padding-right: 8px;
}

.friendfeed.widget .feed .entry .media img {
  border: 1px solid #ccc;
  padding: 1px;
}

.friendfeed.widget .feed .entry .media td.more img {
  border: 0;
}

.friendfeed.widget .feed .entry .hiddencomments {
  display: none;
}

.friendfeed.widget .feed .entry .likes span,
.friendfeed.widget .feed .entry .comment .content,
.friendfeed.widget .feed .entry .comment .content span,
.friendfeed.widget .feed .entry .commentform,
.friendfeed.widget .feed .entry .expandcomment,
.friendfeed.widget .feed .entry .info,
.friendfeed.widget .feed .entry .info span,
.friendfeed.widget .feed .entry a.via,
.friendfeed.widget .feed .entry a.via:visited {
  color: #737373;
}

.friendfeed.widget .feed .entry a.via {
  text-decoration: none;
}

.friendfeed.widget .feed .entry a.via:hover {
  text-decoration: underline;
}

.friendfeed.widget .feed .cluster .summary a {
  color: #1030cc;
  text-decoration: underline;
  font-weight: normal;
}

.friendfeed.widget .feed .cluster .summary a,
.friendfeed.widget .feed .cluster .summary a:hover {
  border: 0;
}

.friendfeed.widget span.searchbold {
  font-weight: bold;
  color: black;
}

