@import "bootstrap";



/*----------------colors---------------*/
$grayMediumLight: #eaeaea;
$grayLighter: #a0a0a0;
$grayLight: rgba(230,230,230,0.8); /*#e6e6e6*/
$borderDark: #6d6e70;
$borderLight: #f1f1f1;

/*---------------fonts & sizes ------------------*/
$fontSizeNormal: 14px;
$formHeight: 20px !important;
/*--------------gradients & backgrounds-----------*/
$backgroundContainer: #ededed;//$grayLight; 

@mixin backgroundGradient {
  background: -moz-linear-gradient(top,  rgba(237,237,237,1) 0%, rgba(237,237,237,0.5) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(237,237,237,1)), color-stop(100%,rgba(237,237,237,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(237,237,237,1) 0%,rgba(237,237,237,0.5) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(237,237,237,1) 0%,rgba(237,237,237,0.5) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(237,237,237,1) 0%,rgba(237,237,237,0.5) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(237,237,237,1) 0%,rgba(237,237,237,0.5) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#00ededed',GradientType=0 ); /* IE6-9 */

}

@mixin headerGradient{
  background: #7db9e8; /* Old browsers */
  background: -moz-linear-gradient(top,  #7db9e8 0%, #1e5799 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7db9e8), color-stop(100%,#1e5799)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #7db9e8 0%,#1e5799 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #7db9e8 0%,#1e5799 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #7db9e8 0%,#1e5799 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #7db9e8 0%,#1e5799 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#1e5799',GradientType=0 ); /* IE6-9 */
}

@mixin ratingGradient{
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(top,  #ffffff 16%, #7db9e8 80%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(16%,#ffffff), color-stop(80%,#7db9e8)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #ffffff 16%,#7db9e8 80%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #ffffff 16%,#7db9e8 80%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #ffffff 16%,#7db9e8 80%); /* IE10+ */
  background: linear-gradient(to bottom,  #ffffff 16%,#7db9e8 80%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */

}

@mixin backgroundRatingGradient{
background: rgb(181,189,200); /* Old browsers */
background: -moz-linear-gradient(-45deg,  rgba(181,189,200,1) 0%, rgba(40,52,59,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(181,189,200,1)), color-stop(100%,rgba(40,52,59,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg,  rgba(181,189,200,1) 0%,rgba(40,52,59,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg,  rgba(181,189,200,1) 0%,rgba(40,52,59,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg,  rgba(181,189,200,1) 0%,rgba(40,52,59,1) 100%); /* IE10+ */
background: linear-gradient(135deg,  rgba(181,189,200,1) 0%,rgba(40,52,59,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5bdc8', endColorstr='#28343b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

/*--------------functions & mixins-------------*/
@mixin box_sizing {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}