<li id="<%= user_review.id %>">
	
  <%= link_to user_review.game.title, user_review.game %>

  <span class="review_delete">    
  	(<% if current_user?(user_review.user) %>
    <%= link_to "delete", game_review_path(@user, user_review), method: :delete,
                                     data: { confirm: "You sure?" } %>
  	<% end %>)
  </span>
  
  <span class="timestamp">
    Posted <%= time_ago_in_words(user_review.created_at) %> ago.
  </span>

  
</li>
  