<footer class="footer">
  


		<div class="row-fluid">
			<div class="span6 ding1">
				<a href="http://jayzvgquiz.de/">Videogame Quiz</a>
				by Sir Jay
			</div>
			<div class="span6 ding2">

						<a href="http://ofdb.de">Movies</a>
	
			</div>
		</div>


</footer>