// Place all the styles related to the ratings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";
@import "variables";

label{
  display: inline !important;
}

.rating_area{
  background: #9a9a9a;
  width: 500px;
  padding: 5px;
  .rating_form{
    background: white;
    padding: 10px;
  }
}

