@import "bootstrap";



/*----------------colors---------------*/
$grayMediumLight: #eaeaea;
$grayLighter: #a0a0a0;
$grayLight: rgba(230,230,230,0.8); /*#e6e6e6*/
$borderDark: #6d6e70;
$borderLight: #f1f1f1;

/*---------------fonts & sizes ------------------*/
$fontSizeNormal: 14px;
$formHeight: 20px !important;
/*--------------gradients & backgrounds-----------*/
$backgroundContainer: white;//$grayLight; 

@mixin backgroundGradient {
  background: #8fc6ea; /* Old browsers */
  background: -moz-linear-gradient(-45deg,  #8fc6ea 0%, #f4f4f4 50%, #8fc6ea 99%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#8fc6ea), color-stop(50%,#f4f4f4), color-stop(99%,#8fc6ea)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg,  #8fc6ea 0%,#f4f4f4 50%,#8fc6ea 99%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg,  #8fc6ea 0%,#f4f4f4 50%,#8fc6ea 99%); /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg,  #8fc6ea 0%,#f4f4f4 50%,#8fc6ea 99%); /* IE10+ */
  background: linear-gradient(135deg,  #8fc6ea 0%,#f4f4f4 50%,#8fc6ea 99%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8fc6ea', endColorstr='#8fc6ea',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

@mixin headerGradient{
  background: #7db9e8; /* Old browsers */
  background: -moz-linear-gradient(top,  #7db9e8 0%, #1e5799 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7db9e8), color-stop(100%,#1e5799)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #7db9e8 0%,#1e5799 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #7db9e8 0%,#1e5799 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #7db9e8 0%,#1e5799 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #7db9e8 0%,#1e5799 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#1e5799',GradientType=0 ); /* IE6-9 */
}
/*--------------functions & mixins-------------*/
@mixin box_sizing {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}